.hover-link {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.hover-in {
  display: flex;
  flex-direction: column;
  transition: transform 0.38s cubic-bezier(0.76, 0, 0.24, 1);
}

.hover-in > div {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--accentColor);
  white-space: nowrap;
}

.hover-link:hover .hover-in { transform: translateY(-100%); }
